
#heading {
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}



body{
    background: rgb(100,97,161);

    font-family: Arial, Helvetica, sans-serif;

    
}

.bar{
    fill: rgba(255, 255, 255, 0.72);
}


.y-axis{
    color: rgba(255, 255, 255, 0.72);
    font-size: 15px;
    font-family: ;
}

.x-axis{
    color: rgba(255, 255, 255, 0.72);
    text-anchor: end;
    font-size: small;
}

.buttons{
    color: rgb(100,97,161);
    background-color: rgba(255, 255, 255, 0.72);
}

.buttonDiv{
    text-align: center;
}

.heading{
    text-align: center;
}


